doctype html
html
  head
    title CryptoCurrencies List
    link(rel='stylesheet', href='/css/style.css')
  nav
    a(href='/') Home
    a(href='/about') About Crypto
    a(href='/list') List
    a(href='/create') Add a Crypto
  body
    h1 Welcome to CryptoCurrencies List
    p View All the CryptoCurrencies in the world
