.dialog-box {
    position: absolute;
    top: 10px;
    width: 380px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: rgba(0, 255, 47, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
  