.player-status {
  border: 2px solid #007bff;
  border-radius: 8px;        
  padding: 10px;             
  margin-top: 10px;          
}

.stat {
  padding: 5px;               
  text-align: left;           
}

.player-status strong {
  color: #007bff;            
}
