extends common/layout

block layout-content 
  main
    section.hero
      h1 Welcome to Our E-commerce Store
      p Discover our range of products
      //image source:https://www.salesforce.com/blog/what-is-ecommerce/
      img(src="/img/ecom.png", alt="ecom")
  footer
    p &copy; 2024 E-commerce Website