doctype html
html
  head
    title CryptoTracker Dashboard
    link(rel='stylesheet', href='/styles/styles.css')
  body
    header
      h1(style='float: left;') CryptoTracker
      nav(style='float: right;')
        a(href='/') Home
        a(href='/markets') Markets
        a(href='/news') News
    block content
