/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #242424;
    color: white;
}

.header h1 {
    color: yellow;
}

.header a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

.header a:hover {
    color: lightgray;
}
